.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml

db/shortly.sqlite
node_modules
public/dist

# Icon must ends with two \r.
Icon

# Credentials
Free\ Trial-9-16-2015-credentials.publishsettings

#Built Client Files
public/build
public/*.min.css

# Floobits
.floo
.floobit
.floo
.flooignore
